* {
    margin: 0;
    padding: 0;
}

#page {
    width: 100%;
    height: 100%;
    background: #CCC;
    overflow: hidden;
}

#page:after {
    content: '';
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}
#page{
    width: 100%;
    background: url('my_darling_mono.jpg') top center no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: cover;
    transition: background-size 300ms, width 300ms, height 300ms;
}
#magnify {
    width: 100%;
    background: url('my_darling.jpg') top center no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: cover;
    transition: background-size 300ms, width 300ms, height 300ms;
    max-height: 500px;
}



#magnify {
    z-index: 9;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(87, 87, 87), inset 0px 0px 20px rgb(83, 83, 83);
    transition: .1s;

    cursor: url('heart.png'),pointer;
}
#magnify:active{
   width: 300px;
   height: 300px;
}


.fixed__btn{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    z-index: 12;
}
/*! CSS Used from: Embedded */
.btn{position:relative;display:inline-block;width:277px;height:50px;font-size:1em;font-weight:bold;line-height:60px;text-align:center;text-transform:uppercase;background-color:transparent;cursor:pointer;text-decoration:none;font-family:'Roboto', sans-serif;font-weight:900;font-size:17px;letter-spacing:0.045em;}
.btn svg{position:absolute;top:0;left:0;}
.btn svg rect{//stroke:#EC0033;stroke-width:4;stroke-dasharray:353, 0;stroke-dashoffset:0;-webkit-transition:all 600ms ease;transition:all 600ms ease;}
.btn span{background:rgb(255,130,130);background:-moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);background:-webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);background:linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.btn:hover svg rect{stroke-width:4;stroke-dasharray:196, 543;stroke-dashoffset:437;}
